<section class="right-answers">
    <div class="container">

        <div class="right-answers-breadcrumbs">
            <div class="breadcrumbs-first">
                Результат прохождения теста
                <img src="/images/right-answers-arrow.png" alt="arrow">
            </div>
            <div class="breadcrumbs-second" id="breadcrumbs-title"></div>
        </div>

        <div class="right-answers-title common-title">Правильные ответы <span>к тесту</span></div>
        <div class="right-answers-sub-title" id="right-answers-sub-title"></div>

        <div class="questions-items" id="questions-items"></div>

        <div class="results-test right-answers-back" id="results-test">
            <button class="rightsAnswers">Обратно к моему результату теста
                <img src="/images/test-arrow.png" alt="arrow">
            </button>
        </div>
    </div>
</section>
