.right-answers {
    padding: 20px 0 20px 0;
}

.right-answers-breadcrumbs {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.breadcrumbs-first {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
    display: flex;
    align-items: center;
}

.breadcrumbs-first img {
    margin-left: 13px;
}

.breadcrumbs-second {
    font-size: 20px;
    line-height: 24px;
    color: #6933DC;
    margin-left: 15px;
}

.right-answers-title {
    color: #6933DC;
}

.right-answers-title span {
    color: #333333;
}

.right-answers-sub-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 10px 0 60px 0;
}

.right-answers-sub-title span {
    font-family: MuseoSansCyrl700, sans-serif;
    color: #6933DC;
}

.question-item + .question-item {
    margin-top: 60px;
}

.question-item-title {
    font-family: MuseoSansCyrl700, sans-serif;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 40px;
}

.question-answer {
    display: flex;
    align-items: center;
}

.question-answer + .question-answer {
    margin-top: 20px;
}

.question-item-title span {
    color: #6933DC;
}

.question-answer-circle {
    width: 14px;
    height: 14px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    flex-shrink: 0;
}

.answer-circle-true {
    width: 8px;
    height: 8px;
    border: 6px solid #5FDC33;
}

.answer-circle-false {
    width: 8px;
    height: 8px;
    border: 6px solid #DC3333;
}

.question-answer-text {
    font-size: 20px;
    line-height: 24px;
    margin-left: 13px;
}

.answer-text-true {
    color: #5FDC33;
}

.answer-text-false {
    color: #DC3333;
}

.right-answers-back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}